@{
    ViewData["Title"] = "Home Page";
}
@model TwitterFeed.ViewModels.TimelineViewModel


<div class="layout">
    <div class="layout__left-sidebar">
    </div>
    <div class="layout__main">

        @foreach (var item in Model.TweetViewModels)
        {
            <div class="tweet">
                <div class="tweet_left">
                    <img class="tweet__author-logo" src="@item.User.profile_image_url" />
                </div>
                <div class="tweet__main">
                    <div class="tweet__header">
                        <div class="tweet__author-name">
                            @item.User.name
                        </div>
                        <span class="username">@@@item.User.username</span>
                        <div class="tweet__author-slug">

                        </div>
                        <div>
                            @if ((DateTime.Now - @item.UserTweet.created_at.Date).TotalHours <= 24)
                            {
                                <div class="tweet__publish-time">
                                    @Math.Round((DateTime.Now - @item.UserTweet.created_at.Date).TotalHours).ToString()h
                                </div>
                            }
                            else
                            {
                                <div class="tweet__publish-time">
                                    @Convert.ToDateTime(@item.UserTweet.created_at.Date).ToString("M", new System.Globalization.CultureInfo("en-US"))
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tweet__content">
                        @Html.Raw(@item.UserTweet.text)
                    </div>
                    @if (@item.UserTweet.entities.urls != null)
                    {
                        @foreach (var url in @item.UserTweet.entities.urls)
                        {
                            @if (url.images != null)
                            {
                                <div class="tweet__picture">
                                    <img class="tweet__image" src="@url.images[0].url" />
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
        </div>
    </div>
</div>
